# Stock Diversification using K-Means Algorithm

In [1]:
#import relevant packages
import pandas as pd
import numpy as np
import yfinance as yf
from sklearn.cluster import KMeans
from pandas_datareader import data as pdr
from datetime import datetime, timedelta
yf.pdr_override()

In [2]:
sp500_data = pd.read_csv('sp500_timeseries.csv')

In [3]:
sp500_data = sp500_data.drop(['Unnamed: 0'], axis=1)

In [4]:
sp500_data

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,ADP,...,WTW,GWW,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS
0,173.800201,63.382729,122.914108,102.212929,347.380005,328.300873,75.729858,59.316116,641.289978,195.171494,...,223.571747,398.741882,82.110001,61.719910,129.421356,123.297325,551.900024,138.787231,54.302128,197.356628
1,171.768875,62.753616,123.170036,102.933418,344.989990,327.174561,72.598465,58.826057,645.890015,193.443710,...,225.641785,395.871033,78.769997,61.573978,129.322586,122.570839,543.000000,137.544373,54.009491,199.731400
2,173.135941,62.684811,122.697556,102.222527,348.959991,330.642426,72.379768,57.816551,626.080017,194.680649,...,227.642792,396.768799,80.790001,61.476688,131.515152,123.258057,547.580017,140.376938,55.511654,200.069260
3,174.762939,63.323746,123.337379,103.135147,350.609985,338.882294,74.228775,59.080887,630.840027,197.704300,...,230.116959,397.962524,83.830002,61.194557,133.500336,122.698463,553.460022,144.905243,57.901455,203.407898
4,174.291183,62.969868,122.421944,102.856552,350.359985,335.157593,74.815292,58.571232,622.710022,198.519104,...,230.491531,399.896179,82.879997,61.603165,133.944778,123.228600,559.479980,145.704910,58.769588,203.427765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,120.470001,54.180000,105.839996,138.529999,266.390015,281.519989,76.760002,86.349998,368.390015,235.059998,...,206.289993,557.150024,62.680000,74.592003,93.720001,113.580002,293.500000,116.400002,57.299999,160.990005
248,117.529999,52.270000,105.779999,139.550003,264.329987,278.529999,76.599998,86.169998,371.519989,234.479996,...,207.000000,548.239990,60.689999,75.309998,94.559998,114.820000,295.970001,116.410004,57.959999,160.229996
249,116.419998,52.919998,105.059998,142.509995,263.720001,273.859985,76.830002,85.260002,309.130005,230.710007,...,206.750000,532.830017,65.230003,73.379997,94.279999,115.160004,296.200012,115.769997,58.970001,159.179993
250,116.610001,51.720001,104.000000,144.059998,258.670013,272.679993,76.019997,84.769997,299.500000,233.639999,...,206.000000,526.159973,65.419998,73.900002,93.260002,115.720001,288.519989,112.690002,57.700001,157.300003
251,116.639999,52.590000,104.089996,142.660004,257.869995,274.980011,75.940002,87.330002,296.059998,235.720001,...,208.759995,535.099976,65.889999,74.529999,96.470001,116.160004,291.209991,113.400002,58.380001,157.190002

In [13]:
daily_returns = sp500_data.pct_change()
annual_return = daily_returns.mean() * 252
annual_variance = daily_returns.var() * 252

In [16]:
data = pd.DataFrame(data = sp500_data.columns, columns=['Tickers'])
data['Returns'] = annual_return.values
data['Variances'] = annual_variance.values

In [17]:
data

    Tickers   Returns  Variances
0       MMM -0.369014   0.061730
1       AOS -0.139632   0.096287
2       ABT -0.136614   0.060550
3      ABBV  0.356339   0.042792
4      ABMD -0.192557   0.213097
..      ...       ...        ...
498     YUM -0.033908   0.051947
499    ZBRA -0.560314   0.161322
500     ZBH -0.155908   0.093640
501    ZION  0.135086   0.124760
502     ZTS -0.191494   0.073795

[503 rows x 3 columns]